<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre livre, notre média</title>
</head>

<body>
    <h1>Notre Livre, notre média</h1>
    <h2>{{user.last_name}} {{user.first_name}}</h2>
    <p>Email : {{user.email}}</p>
    
    <p>Nombre d'emprunts : {{user.nombreEmprunts}}</p>
    
    <a href="{% url 'users' %}">Retour à la liste des membres</a> - 
    <a href="{% url 'user_update' user.id%}">Mettre à jour</a> -
    <a href="{% url 'user_delete' user.id %}">Supprimer</a>
</body>

</html>